*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background: rgb(17, 17, 53);
    width: 100%;
    min-width: 754px;
}

/* menu and list style */
.header{
    background: rgb(98, 98, 248);
    width: 100%;
    display: block;
}
.icon{
    top: 0;
    left: 0;
    position: absolute;
    font-weight: 1000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(17, 17, 53);
}
.icon p{
    margin: 5px;
    padding: 5px;
}
.menu{
    display: block;
}
.menu ul{
    display: flex;
    list-style: none;
    margin: auto 0 auto auto;
    align-items: right;
    justify-content: right;
    text-align: right;
}
.menu li{
    
}
.menu a{
    text-decoration: none;
    color: rgb(251, 255, 0);
    display: block;
    margin: 5px;
    padding: 5px;
    background: rgb(0, 113, 165);
    border-radius: 2px;
    border-right: solid white 5px;
}
.menu li.active a, .menu li a:hover{
    background: rgb(17, 17, 53);
}
/*Body Div*/
.body{
    color: white;
}
.body h1, .body h2{
    text-align: center;
    margin-top: 10px;
}
.body p{
    background: blue;
    padding: 5px;
    width: calc(100% - 20px);
    margin: auto;

}
.body p a{
    color: white;
}
.body ul{
    margin-left: 50px;
}
.body ol{
    margin-left: 50px;
}
.body small{
    text-align: center;
}
.body ol{
    margin-left: 50px;
}
/* card section */
.card{
    width: 80%;
    margin: 10px auto 10px  auto ;
    max-width: 300px;
    border: 2px solid blue;
    background: blue;
    border-radius: 5px;
}
.card img{
    width: 100%;
}
.card ul{
    display: flex;
    list-style: none;
}
.card li{
    margin-left: 5px;
}
.card a{
    color: white;
    text-decoration: none;
}
.card h4{
    margin-left: 5px;
}